.footer__column-link {
color: white;
padding: 0;
margin: 0;
text-decoration: none;
opacity: 1;
transition: opacity 0.3s;
line-height: 18px;
font-size: 18px;
font-weight: normal;
}
.footer__column-link:hover {
    opacity: 0.5;
}
